body {
  font-family: "Lato", sans-serif;
}

.tabButton {
  background-color: #90a4ae; /* Tab not selected */
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 50%; /* 100% / number of tabs */
}

.tabButton:hover {
  background-color: orange;
}

.tabContent {
  display: none;
  padding: 0;
  text-align: center;
}
